.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #7749B3 !important;
}
h3{
    font-family: sans-serif;
    font-size: 32px !important;
}
ul{
    font-family: sans-serif;
    font-size: 20px !important;
    color: #514e4e !important;
    line-height: 1.8rem; 
}
.nav-pills .nav-link {
    font-size: 18px !important;
    font-family: sans-serif;
}