<div class="mt-3">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-Introduction-tab" data-toggle="pill" href="#v-pills-Introduction"
                    role="tab" aria-controls="v-pills-general" aria-selected="true">Introduction to Janars Retro</a>
                <a class="nav-link" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab"
                    aria-controls="v-pills-general" aria-selected="true">General Guidance</a>
                <a class="nav-link" id="v-pills-signup-tab" data-toggle="pill" href="#v-pills-signup" role="tab"
                    aria-controls="v-pills-signup" aria-selected="false">Sign-up</a>
                <a class="nav-link" id="v-pills-Interplays-tab" data-toggle="pill" href="#v-pills-Interplays" role="tab"
                    aria-controls="v-pills-Interplays" aria-selected="false">Interplays-in-action</a>
                <a class="nav-link" id="v-pills-Retro-tab" data-toggle="pill" href="#v-pills-Retro" role="tab"
                    aria-controls="v-pills-Retro" aria-selected="false">Retro in two steps</a>
                <a class="nav-link" id="v-pills-limitations-tab" data-toggle="pill" href="#v-pills-limitations"
                    role="tab" aria-controls="v-pills-limitations" aria-selected="false">Limitations worth knowing</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-Introduction" role="tabpanel"
                    aria-labelledby="v-pills-Introduction-tab">
                    <h3>Introduction to Janars Retro</h3>
                    <p>Retros are essential for team growth and evolution. We were a new team with ambition to become
                        highly effective. Thus, building a retro tool was a natural use-case for our MVP. It was the
                        right tool to test our data-driven approach to facilitation.</p>
                    <p>Our experience so far has been good. Each participant provided quality input. The team gave
                        support to achieve targets and pursue learnings. Learnings were identified and tracked. They
                        included how to improve testing. How to evolve the data model and an agreement of core hours for
                        working. All had impact on our effectiveness.</p>
                    <p>The approach seems right. We set targets, identify gaps and focus on action/or constraint
                        removal. We didn't need a measurement tool to tell us how we are performing. We needed a tool to
                        bring us together, a place where ideas and actions flourish. Now we are fully remote, it has
                        become more essential. It gives us that connection time to problem solve together.</p>
                    <p>How does Janars Retro work?</p>
                    <p>It has two stages. Every team member sets their targets for the sprint. They seek support from
                        the team so individual targets become team targets. Then post-sprint, individuals reflect on
                        what happened and identify their learnings. Then the team comes together to reflect on learnings
                        and build a plan to execute on top 1 or 2 learnings.</p>
                    <p>This is only the start for our Freemium product. Question sets, separate voting process and
                        boards are required for us to compete. Our unique value is flowing data across events and stages
                        in a facilitation. In the flow, team targets are set. Gaps are assessed privately to identify
                        actions and constraints. The team reflects on actions and constraints to creating a plan for
                        learning.</p>
                    <p>Thank you for your interest in Janars Retro. Please continue to guide us so you want to use it
                        with your team every time.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
                    <h3>General Guidance</h3>
                    <p>In an interplay each stage has a set of cards/states.</p>
                    <p>In Janars Retro, the facilitator initiates the interplay. Each of the two stages start with an
                        individual activity (card) for each participant. Then team activities are facilitated by scrum
                        master, coach, or lead, And the participants agree or disagree with a jointly developed
                        agreement.</p>
                    <p>We support a retro for teams with 12 to 15 members. This is not a hard limit. Tested on Google
                        Chrome.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-signup" role="tabpanel" aria-labelledby="v-pills-signup-tab">
                    <h3>Sign-up</h3>
                    <p><strong>Retro Sign-up </strong>as a Facilitator at <a
                            href="https://neutraladvocate.com/mvp-retro/. ">https://neutraladvocate.com/mvp-retro/</a>
                        See the &ldquo;Retro with your team" button. You're sent a temporary password and a link to the
                        community page in email. To add participants, create an interplay and set your team. Please
                        note: only one person in a team can be a facilitator. If a participant is already is a
                        facilitator, please ask them for an alternate email.</p>
                    <p><strong>Community Sign-in:</strong> Both facilitators and participants are members of the Janars
                        Community. Please login to neutraladvocate.com to provide feedback &amp; ideas via the Community
                        page.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-Interplays" role="tabpanel"
                    aria-labelledby="v-pills-Interplays-tab">
                    <h3>Interplays-in-action</h3>
                    <h4>Facilitator&rsquo;s Interplay Kick off Task</h4>
                    <p>To start an interplay, select a canvas &ldquo;Janars Retro&rdquo;. Update Interplay Name and
                        description. View contents of the cards in the interplay. Click on &ldquo;Save &amp; Set
                        Team&rdquo; to save the interplay and start the process of setting up the team.</p>
                    <p>To Set Team: The first time, a new team is created. Later you can select an existing team, add or
                        remove members. To add new team members you have not worked with before in Janars. Add an email,
                        first and last name. They will receive an invite. You may search for &ldquo;Known&rdquo; People
                        who you have worked with before and add them. Later when you start the interplay, the
                        &ldquo;Invite email&rdquo; goes out and participants can access the first card.&nbsp;</p>
                    <p>Facilitator&rsquo;s Interplay kick-off task&nbsp;is now complete. Once you have an existing team,
                        kicking-off an interplay takes less than a minute.&nbsp;</p>
                    <h4>Access to Interplays</h4>
                    <p>On Login: When you login, the interplays are listed. Either the <strong>Card </strong>or
                        <strong>Kanban </strong>Button provides access to view the list of cards for that interplay. The
                        view is filtered to show only cards that are active &ldquo;Not started" or "In Progress&rdquo;.
                        Click on &ldquo;Upto In Progress&rdquo; toggle to show &ldquo;Done" and "Closed&rdquo; cards.
                    </p>
                    <p>To Filter cards, click on Kanban or Card from the menu and then use the filtering to refine the
                        list.</p>
                    <p>Facilitator Edit of Interplays: The facilitator can return to Edit an interplay from "Edit
                        Interplay" icon on the list of interplays page. Then you can change timeouts for cards, view
                        cards across the flow. This access point will become increasingly important as we enhance the
                        facilitators editing capability.</p>
                    <h4>Participant&rsquo;s Interplay Task</h4>
                    <p>To Edit card, on the left you have the card you can edit in the middle. On the right, you see the
                        team and their status on this card.&nbsp;The basic operation of the card include card-specific
                        instructions under its title. Click on "Save" if you want to continue to edit later. And "Done"
                        if you are complete.</p>
                    <p>Card closes when all participants are done, then the interplay will move onto the next
                        card.&nbsp;</p>
                </div>
                <div class="tab-pane fade" id="v-pills-Retro" role="tabpanel" aria-labelledby="v-pills-Retro-tab">
                    <h3>Retro in two steps</h3>
                    <p><strong>Facilitator&rsquo;s Planning Meeting:</strong> Proposed as a meeting of 15 to 20 minutes.
                    </p>
                    <p>Each participant has identified their target key results. And done this in context of their
                        goals, risks and any dependency. In card 2, The team reviews the targeted commitments. The
                        facilitator can capture qualifiers as team comments. Then in card 3, each participant agrees to
                        the team statement and may comment. An email is sent to the team with the list of comments and
                        count of agrees and disagrees.</p>
                    <p><strong>Facilitator&rsquo;s Learning Meeting:</strong> Proposed as a meeting of 25 to 30 minutes.
                    </p>
                    <p>Each participant reflects on their actual versus targeted results. This is optionally shared
                        verbally in the meeting. Each person is asked to share one action they want to take to improve
                        team productivity, and one constraint that if removed would also help them improve productivity.
                    </p>
                    <p>The facilitator&rsquo;s card is this table of actions and constraints. In the meeting, the team
                        discusses the value of pursuing the actions and constraints identified. (10 minutes). Then the
                        participants will score these ideas. The facilitator card consolidates this information and is
                        non-editable. Then together with the facilitaor, the team builds a plan to execute the highest
                        priority 1 or 2 learnings. (10 minutes) and finally the plan is then agreed to. (3-5 minutes)
                    </p>
                </div>

                <div class="tab-pane fade" id="v-pills-limitations" role="tabpanel"
                    aria-labelledby="v-pills-limitations-tab">
                    <h3><span style="color: #000000;">Current Limitations</span></h3>
                    <p><span style="color: #514e4e;">We are currently working on resolving the following
                            limitations:</span></p>
                    <p><span style="color: #514e4e;">We support one facilitator role in the team. They start the
                            interplay. Any people who had signed up with their email as a facilitator for MVP can't also
                            be a participant.</span></p>
                    <p><span style="color: #514e4e;">To create the plan of top two learnings, the facilitator needs to
                            cut and paste the learning from the prior card. Or can craft the wording with the
                            team.</span></p>
                    <p><span style="color: #514e4e;">Once the team's created for the interplay, there is no mechanism to
                            add or remove team members.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>