<div class="container">
  
    <div class="col-md-12">
        <section class="section">
            <!--Section heading-->
            <h2 class="text-center my-5 h1">Contact form</h2>
            <!--Section description-->
            <p class="text-center mb-5 w-responsive mx-auto">Duis aute irure dolor in reprehenderit in voluptate velit
                esse
                cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 my-4">

                    <!--Form with header-->
                    <mdb-card>

                        <mdb-card-body>
                            <!--Header-->
                            <div class="form-header blue accent-1">
                                <h3>
                                    <i class="fa fa-envelope"></i> Write to us:</h3>
                            </div>

                            <p>We'll write rarely, but only the best content.</p>
                            <br>

                            <!--Body-->
                            <div class="md-form">
                                <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                                <input mdbInput type="text" id="form3" class="form-control">
                                <label for="form3">Your name</label>
                            </div>

                            <div class="md-form">
                                <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                                <input mdbInput type="text" id="form2" class="form-control">
                                <label for="form2">Your email</label>
                            </div>

                            <div class="md-form">
                                <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                                <input mdbInput type="text" id="form32" class="form-control">
                                <label for="form34">Subject</label>
                            </div>

                            <div class="md-form">
                                <mdb-icon icon="pencil" class="prefix grey-text"></mdb-icon>
                                <textarea mdbInput type="text" id="form8" class="md-textarea"></textarea>
                                <label for="form8">Icon Prefix</label>
                            </div>

                            <div class="text-center">
                                <button mdbBtn color="light-blue" class="waves-light" mdbWavesEffect>Submit</button>
                            </div>

                        </mdb-card-body>

                    </mdb-card>
                    <!--Form with header-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7">

                    <!--Google map-->
                    <agm-map class="z-depth-1-half map-container" style="height: 400px;" [latitude]="map.lat"
                             [longitude]="map.lng">
                        <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                    </agm-map>

                    <br>
                    <!--Buttons-->
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a mdbBtn floating="true" color="blue" class="accent-1 waves-light" mdbWavesEffect>
                                <mdb-icon fas icon="map-marker"></mdb-icon>
                            </a>
                            <p>San Francisco, CA 94126</p>
                            <p>United States</p>
                        </div>

                        <div class="col-md-4">
                            <a mdbBtn floating="true" color="blue" class="accent-1 waves-light" mdbWavesEffect>
                                <mdb-icon fas icon="phone"></mdb-icon>
                            </a>
                            <p>+ 01 234 567 89</p>
                            <p>Mon - Fri, 8:00-22:00</p>
                        </div>

                        <div class="col-md-4">
                            <a mdbBtn floating="true" color="blue" class="accent-1 waves-light" mdbWavesEffect>
                                <mdb-icon fas icon="envelope"></mdb-icon>
                            </a>
                            <p>info@gmail.com</p>
                            <p>sale@gmail.com</p>
                        </div>
                    </div>

                </div>
                <!--Grid column-->

            </div>
        </section>
    </div>


</div>
