.pt-4{
    padding-top: 0.75rem !important;
}
.stage-sec{
    background-color: #EDEEF0;
}
.main-card{
    /* min-height:90%; */
    min-height:82vh;
    /* height:calc(100% - 20%); */
    /* min-height: 480px; */
    overflow: auto;
    margin-bottom: 15px;

}

.container-fluid{
    margin-bottom: 10px !important;
}


.card-foot{
    padding-top: 10px;
}

.ttls{
    font-family:  "Open Sans" !important;
    font-size: 14px;
    /* font-weight: bold; */
    color: #666666;
  }

  .fa{
      color: darkmagenta;
  }

  .row-card{
      /* margin-top: 10px; */
      margin-bottom: 10px;
  }

  .card-grid{
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
  }

  .tab-card{
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding-top: 0;
  }

  .drag-col{
      padding-left: 0;
      padding-right: 0;
  }

  .mat-tab-header-pagination {
    display: none !important;
}

.form-head{
    font-weight: bold;
    color: #333333;
}
.form-sub-head{
    color: #333333;
    font-size: 14px;
}

.form-head-icons{
    font-size: 20px;
    margin: 10px;
}

.drag-item{
    margin: 15px;
    text-align: center;
    cursor: pointer;
}

.drag-rating-item{
    margin:5px 15px;
    cursor: pointer;
}
.label{
    margin-left: -15px !important;
    font-size: 14px;
}
.dateLabel{
    margin: 15px;
    font-size: 14px;
}
.card-name-label{
    font-size: 14px;
}

.mat-tab-body-content{
    overflow-x: hidden !important;
}

.drag-item-row{
/* text-align: center; */
margin-left: 0;
margin-bottom: 15px;
border-bottom: 1px solid lightgray;
}

.down-arrow-button{
    padding: 0px 7px;
    border-radius: 5px;
    background-color: white;
    color: purple;
    border: 1px solid lightgray;
    font-size: 20px;
}

.check-button{
    background-color: white;
    color: purple;
    border: 1px solid lightgray;
    padding: 0  !important;
    min-width: 3% !important;
    max-height: 30px;
    position: relative;
    top: 3px;
}
.check-icon{
    position: relative;
    top: -3px;
}
.down-arrow-col{
    margin-left: -15px !important;
}

.label-row{
    /* margin-bottom: 8px; */
}

/* .bar-rating-col{
    position: relative;
    top: -15px;
} */

.mat-menu-panel.select-category{
    width: 200px;
}

.stage-row{
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    /* text-align: center; */
}

.category-opt{
    border-bottom: 1px solid lightgrey;
}

.category-buttons{
    text-align: center;
    margin-top: 10px;
}

.drop-category{
    padding-right: 0;

}

.add-icon{
    padding: 5px;
}

.delete-icon{
    padding: 5px;
    position: relative;
    top: -3px;
}
.msg-sec{
    font-size: 12px;
    margin: 10px 0;
}
/* 
.border-done {
    border-bottom: 7px solid #FFBE06 !important;
} */
.form-table{
    width: auto !important;
    overflow-x: scroll;
}

.user-col{
    width: 200px !important;
    font-size: 12px;
}
.input-col{
    width: 250px !important;
}
.add-category-btn{
    /* background-color: white; */
    color: purple;
    border: 1px solid grey;
    padding: 0  !important;
    min-width: 3% !important;
    max-height: 30px;
}

.delete-category-btn{
    color: purple;
    border: 1px solid grey;
    padding: 0  !important;
    min-width: 3% !important;
    max-height: 30px;
    background-color: lightgray;
}

.team-row{
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
}
.team-head{
    margin: 10px 0;
    color: #8b8b8b;
    font-size: 14px;
}
.card-body{
    padding: 0.50rem 1.25rem;
}
.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .team-user-name{
      font-size: 16px;
  }
  .user-card-status{
      font-size: 14px;
      color: #8b8b8b;
      font-weight: normal;
  }
 
  
 .dropdown .dropdown-menu a:active
{
  color: #fff;
  background-color: purple;
}

  
.btn-outline-secondary:focus {
    color: #fff;
    background-color: purple !important;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: purple !important;
}

.userCard{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-horizontal-stepper-header{
    height: auto !important;
}

.pd-rt-5{
    padding-right: 5px !important;
}

.pd-lt-5 {
    padding-left: 5px !important;
}



.date-row{
    font-size: 14px;
}

.myCssClass{
    box-shadow: grey 5px 5px !important;
}
label{
    margin-bottom: 0 !important;
}

span.userStatus {
    position: relative;
    font-size: 13px;
    color: #8b8b8b;
    font-weight: normal;
}

.userStatusHead{
    position: relative;
    font-size: 11px;
    color: #8b8b8b;
    font-weight: normal;
}
.username{
    float: right;
    margin-left: 10px;
    line-height: 16px;
}
  
  .tab-pane{
    padding: 3px 5px;
    /* margin-bottom: -3px; */
  }
  
  .status-sec{
  margin-left: 15px !important;
  /* float: right; */
  position: relative;
    top: 5px;
  }
  .card-status{
    position: relative;
    top: -8px;
    font-size: 12px;
    margin-right: 15px;
    /* text-align: end; */
  }
  
  .nav-link {
    padding: 0.25rem 0.25rem;
  }
  .tab-content{
    margin-left: -20px !important;
    margin-right: -20px;
    margin-top: -3px;
    background-color: #F1EDF7;
  }
  
  .nav-item .active{
    background-color: #F1EDF7 !important;
    border: 0 !important;
    /* margin-bottom: -px !important; */
  
  }
  
  .nav-tabs{
    border: 0 !important;
    }
  
    .dueDate{
      margin-top: 3px;
      float: right;
      margin-left: 7px;
    }
  
    .nav-tabs{
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .mg-l-20{
      margin-left: 40px !important;
    }

    .ttls{
        font-family: "Open Sans" !important;
        font-size: 13px;
        /* font-weight: bold; */
        color: #333333;
      }

      .cardName
        {
        font-size:15px;
        margin: 5px 0;
        /* margin-left: -10px; */
        min-height : 50px;
        border-top: #F1EDF7 1px solid;
        border-bottom: #F1EDF7 1px solid;
        }

        .smalldate{
            font-family: "Open Sans" !important;
           color: #666666;
           font-size: 13px;
       }

       .status-sec{
           position: relative;
           top: -3px;
           margin-left: 35px !important;
       }
       .card-footer{
           padding: 5px;
       }

       .status-row{
           height: 25px;
       }

       .card-icons {
        position : relative;
        top : -6px;
       }

       .parent-card{
           padding-left: 7px !important;
           padding-right: 7px !important;
       }
       .activeCard {
        border: 3px ridge lightgray;
       }
       .floating {
        position: absolute;
        right: 0px;
        z-index: 99;
        background-color: white !important;
       }
       .teamtoggle{
        border: 0;
        margin: 0px !important;
        padding: 0;
       }

       span.lesstoggle {
        padding: 0px 7px 0px 7px;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid;
        color: #7749B3 !important;
        font-size: 25px;
        }

    .loadingTitle{
        position: absolute;
        top: 54%;
        left: 48%;
        }

.form-control { 
    font-size: 13px !important; 
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
    border: 0;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    border-radius: 0;
}