<div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 5px;">
        <span style="font-size: 18px;">{{templateName}}</span>
      </div>
      <div class="col-md-6" style="text-align: right;margin-bottom: 10px;" *ngIf="showCreateNego">
        <button type="button" class="btn btn-outline-secondary" (click)="createNegotiation()">Save & Set Team</button>
      </div>
  
    </div>
    <div class="row full-page ">
      <div class="col-md-3 card stage-sec main-card">
        <div class="card-body parent-card">
          <div class="row row-card" *ngIf="!showNegoEdit">
            <div>
              <span style="font-size: 13px;">InterPlay Name</span>
            </div>
            <div class="col-md-10 ttls">
              {{negotiationName}}
            </div>
            <div class="col-md-2" (click)="showNegoEdit = !showNegoEdit" *ngIf="user.role != 'PARTICIPANT'"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row row-card" *ngIf="showNegoEdit">
            <div class="col-md-11 form-group">
              <input type="text" class="form-control" [(ngModel)]="negotiationName" placeholder="InterPlay Name">
            </div>
            <button mat-button (click)="showNegoEdit = !showNegoEdit;updateNego()" class="col-md-1 check-button"><i
                class="fa fa-check check-icon" aria-hidden="true"></i>
            </button>
          </div>
  
          <div class="row row-card" *ngIf="!showNegoDescEdit">
            <div>
              <span style="font-size: 13px;">InterPlay Goal</span>
            </div>
            <div class="col-md-10 ttls">
              {{negotiationDesc}}
            </div>
            <div class="col-md-2" (click)="showNegoDescEdit = !showNegoDescEdit" *ngIf="user.role != 'PARTICIPANT'"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row row-card" *ngIf="showNegoDescEdit">
            <div class="col-md-11 form-group">
              <input type="text" class="form-control" [(ngModel)]="negotiationDesc" placeholder="InterPlay Goal">
            </div>
            <button mat-button (click)="showNegoDescEdit = !showNegoDescEdit;updateNego()"
              class="col-md-1 check-button"><i class="fa fa-check check-icon" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngFor="let item of stageArr;let i = index ">
            <div class="row row-card stage-row" style="margin-top: 15px;">
              <div class="col-md-10 ttls ">
                {{item.stageName}}
              </div>
            </div>
           
  
            <div>
              <div class="card grid-col card-grid" [ngClass]="{
                'border-complete':card.cardStatus  === 'CLOSED',
                'border-inprogress':card.cardStatus === 'IN_PROGRESS',
                'border-inititate':card.cardStatus === 'NOT_STARTED',
                'border-done':card.cardStatus === 'DONE',
                'activeCard': card.cardId === isActive
              }" *ngFor="let card of item.cards | orderBy: cardSequenceNumber : true;let j = index;"
                (click)="showCardForm(card,i,j)">
                <!-- <div class="card-header card-grid-header">
                  
                </div> -->
                <div class="card-body card-grid-body-main">
                  <div class="row icon-row">
                    <div class="col-md-3 text-center">
                      <div>
                        <img src="assets/icons/mindset.png">
                      </div>
                      <span class="ttls">{{card.stateStandardName | transform}}</span>
                    </div>
                    <div class="col-md-3 text-center" *ngIf="card.editRule">
                      <div>
                        <img src="assets/icons/edit.png">
                      </div>
                      <span class="ttls">Edit</span>
                    </div>
                    <div class="col-md-3 text-center" *ngIf="!card.editRule">
                      <div>
                        <img src="assets/icons/review.png">
                      </div>
                      <span class="ttls">Review</span>
                    </div>
                    <div class="col-md-3 text-center">
                      <div>
                        <img src="assets/icons/P-logo.png" *ngIf = "card.userRoleAssigned === 'PARTICIPANT'">
                        <img src="assets/icons/F-logo.png" *ngIf = "card.userRoleAssigned === 'FACILITATOR'">
                      </div>
                      <!-- <span class="ttls" >{{card.userRoleAssigned}}</span> -->
                      <span class="ttls" >Edit</span>
                    </div>
                    <!-- <div class="col" style="text-align: right;" [matMenuTriggerFor]="beforeMenu">
                      <img src="assets/icons/h-dots.png">
                    </div>
                    <mat-menu #beforeMenu="matMenu" xPosition="before" class="card-menu">
                      <button mat-menu-item (click)="showCardForm(card,i,j)">Open</button>
                    </mat-menu> -->
                  </div>
                  <div class="row cardName">
                    Card: {{card.stageSequenceNumber}}.{{card.cardSequenceNumber}} {{card.cardName}}
                  </div>
  
                  <div class=" row status-row">
                    <div  >
                      <span *ngIf = "!card.useDueDate && card.cardStatus != 'CLOSED'" class="smalldate dueDate"> No Due Date</span>
                      <span *ngIf = "card.cardStatus === 'CLOSED'"  class="smalldate dueDate" >Closed: {{card.updatedDateTime | date: 'dd-MMM'}}</span>
                      <span *ngIf = "card.useDueDate && card.cardStatus != 'CLOSED'"  class="smalldate dueDate" >Due: {{card.dueDate | date: 'dd-MMM'}}</span>
                    </div>
                    <div class="status-sec "
                      [ngClass]="{'mg-l-20' : card.cardStatus === 'CLOSED' || card.cardStatus === 'DONE' }"
                      style="text-align: right;">
  
                      <span class="card-list-data ttls card-status">{{card.cardStatus | transform}}</span>
                      <span class="card-icons" style="color : skyblue" *ngIf="card.cardStatus === 'CLOSED'"><img
                          src="assets/icons/closed-icon1.png"></span>
  
                      <span class="card-icons" style="color : #E5E5E5" *ngIf="card.cardStatus === 'NOT_STARTED'"><img
                          src="assets/icons/not-started-icon1.png"></span>
  
                      <span class="card-icons" style="color : #6FB72B" *ngIf="card.cardStatus === 'IN_PROGRESS'"><img
                          src="assets/icons/in-prog-icon1.png"></span>
  
                      <span class="card-icons" style="color : #FFBE06" *ngIf="card.cardStatus === 'DONE'"><img
                          src="assets/icons/done-icon1.png"></span>
  
  
                    </div>
                  </div>
                </div>
  
                <div class="card-footer text-muted">
                  <span class="ttls">State: {{card.stateName}}</span>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
      <div class="floating" *ngIf="showFormTable">
        <button class="btn btn-white teamtoggle" (click)="gotoTeam()" title="Team">
          <span class="lesstoggle">
            < </span>
              <!-- <i class="fa fa-caret-square-o-left" aria-hidden="true"></i> -->
              <!-- <img src="assets/icons/multi-user.png"> -->
        </button>
      </div>
  
      <div [ngClass]="showFullForm || showFormTable ? 'col-md-9' : 'col-md-6'" >
  
        <div class="card main-card ">
          <div class="card-body middle-card">
            <div class="row" *ngIf="!showShareOpt && showDoneCard">
              <div class="col-md-6">
                <!-- <mat-horizontal-stepper [linear]="isLinear" #stepper *ngFor = "let item of stageArr">
                            <mat-step >
  
                            </mat-step>
                            <mat-step></mat-step>
                        </mat-horizontal-stepper> -->
              </div>
              <div class="col-md-6" style="text-align: right;" *ngIf="showDoneBtn &&!showComment">
                <button class="btn btn-white" style="margin-right: 10px;" (click)="saveCardEdit()">Save</button>
                <button class="btn btn-white" (click)="doneCardEdit()">Done</button>
              </div>
            </div>
  
            <div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mg-bt-5">
                    <span class="form-head">{{model.cardName}}</span>
                  </div>
                </div>
                <div class="col-md-6" style="text-align: right;" *ngIf="showShareOpt">
                  <!-- <span class="dropdown" *ngIf = "showShedule">
                          <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Schedule
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click) = "startNego()">ASAP</a>
                            <a class="dropdown-item" (click)="gotoSchedule()" >Schedule</a>
                          </div>
                        </span> -->
  
                  <button class="btn btn-white" (click)="startNego()" *ngIf="showStartNego">Start InterPlay</button>
  
                  <!-- <span class="form-head-icons" (click) = "saveCard()" >
                          <i class="fa fa-save"></i>
                        </span> -->
                  <span class="form-head-icons" id="shareBtnC" (click)="shareCardToUser('new')" *ngIf="shareBtn">
                    <i class="fa fa-share-alt" title="Select a Team"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <!-- <div *ngIf="model.cardName">
                <div class="form-group" >
                  <label class="card-name-label">Title - Card Name</label>
                  <input class="form-control" type="text" placeholder="Give your title for card" [(ngModel)] = "model.cardName">
                </div>
            </div> -->
                  <!-- <div cdkDropList (cdkDropListDropped)="dropList($event)"> -->
                  <div class="row" *ngIf="!showStartNego && showDueDate">
                    <div class="col-md-12 msg-sec"
                      *ngIf="card.cardStatus === 'NOT_STARTED' || card.cardStatus === 'IN_PROGRESS'">
                      Instructions: {{card.instructionBefore}}
                    </div>
                    <div class="col-md-12 msg-sec" *ngIf="card.cardStatus === 'CLOSED' || card.cardStatus === 'DONE'">
                      Instructions: {{card.instructionAfter}}
                    </div>
                  </div>
                  <div class="row" *ngIf="showComment && !showShareOpt">
                    <div class="col-md-12" style="text-align: right;" *ngIf="!disableComment">
                      <button class="btn btn-white" (click)="agree()"
                        [disabled]="user.role != 'PARTICIPANT'">Agree</button>
                      <button class="btn btn-white" (click)="disagree()"
                        [disabled]="user.role != 'PARTICIPANT'">Disagree</button>
                    </div>
                    <div class="col-md-12 msg-sec" *ngIf="disableComment">
                      Results of agreement in terms of count of agrees' and disagrees' and comments will be sent as an
                      email to the team. This happens once the approval cards are all done or the timeout has passed.
                    </div>
                    <div class="form-group col-md-12" *ngIf='!disableComment'>
                      <div class="label-row">
                        <span class="col-md-6 label">Comment</span>
                        <div class="row">
                          <div class="col-md-11">
                            <textarea class="form-control" [(ngModel)]="comment"
                              [disabled]="user.role != 'PARTICIPANT'"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row" *ngIf="!showStartNego && showDueDate">
                    <div class="col-md-6">
                      <!-- <span class="dateLabel" *ngIf="showToggle">Dates <mat-slide-toggle (change)="bothSlide($event)" [checked]="useDueDate"></mat-slide-toggle></span><br> -->
                    <span *ngIf="useDueDate" class="dateLabel">Due Date: {{card.dueDate | date:'short'}}</span>
                    <span *ngIf="!useDueDate" class="dateLabel">No Due Date</span>
                  </div>
                    <div class="col-md-6" style="text-align: right;margin-bottom: 10px;" *ngIf="card.cardStatus === 'IN_PROGRESS' && user.role == 'FACILITATOR' && card.userRoleAssigned === 'PARTICIPANT'">
                      <button class="btn btn-white" style="margin-right: 10px;" (click)="moveForward(card)">Move Forward</button>
                    </div>
                  </div>
  
                  <!-- <div class="row" *ngIf="showToggle" style="margin: 7px 0;">
                    <div class="col-md-2 date-row" style="margin-top: 5px;" *ngIf="useDueDate" title="Set when to email out link to card">
                      <span>Issue Date</span><br>
                      <mat-slide-toggle (change)="notDateSlide()" [checked]="useNotificationDate"></mat-slide-toggle>
                    </div>
                    <div class="col-md-3" *ngIf="showNotificationDate">
                      <label class="date-row">Date</label>
                      <input type="text" placeholder="Date" class="form-control" [(ngModel)]="notificationDate"
                        containerClass="purple" (ngModelChange)="selectnotificationDate($event)" bsDatepicker>
                    </div>
  
                    <div class="form-group col-md-2 pd-rt-5 pd-lt-5" *ngIf="showNotificationDate">
                      <label class="date-row">Hrs</label>
                      <input class="form-control" type="number" min="1" max="12" (ngModelChange)="selectNotificationTime($event)"
                        [(ngModel)]="notficationHrs">
                    </div>
                    <div class="form-group col-md-2 pd-rt-5 pd-lt-5" *ngIf="showNotificationDate">
                      <label class="date-row">Mins</label>
                      <input class="form-control" type="number" min="0" max="59" (ngModelChange)="selectNotificationMin($event)"
                        [(ngModel)]="notficationMin">
                    </div>
                    <div class="form-group col-md-3" *ngIf="showNotificationDate">
                      <label class="date-row">AM or PM</label>
                      <select class="form-control " [(ngModel)]="notificationTimeZone" (ngModelChange)="selectNotificationTimeZone($event)">
                        <option>PM</option>
                        <option>AM</option>
                      </select>
                    </div>
                  </div> -->
  
                  <div class="row" *ngIf="showToggle" style="margin: 7px 0;">
                    <div class="col-md-2 date-row" style="margin-top: 5px;" >
                      <span>Due Date</span><br>
                      <mat-slide-toggle (change)="dateSlide($event)" [checked]="useDueDate"></mat-slide-toggle>
                    </div>
                    <div class="col-md-3" *ngIf="showDate">
                      <label class="date-row">Date</label>
                      <input type="text" placeholder="Date" class="form-control" [(ngModel)]="dueDate"
                        containerClass="purple" (ngModelChange)="selectDate($event)" bsDatepicker>
                    </div>
                    <!-- <span class="col-md-2 date-row" *ngIf = "showDate" style="margin-right: -15px;margin-top: 5px;">Hrs</span> -->
                    <div class="form-group col-md-2 pd-rt-5 pd-lt-5" *ngIf="showDate">
                      <label class="date-row">Hrs</label>
                      <input class="form-control" type="number" min="1" max="12" (ngModelChange)="selectTime($event)"
                        [(ngModel)]="dueHrs">
                    </div>
                    <div class="form-group col-md-2 pd-rt-5 pd-lt-5" *ngIf="showDate">
                      <label class="date-row">Mins</label>
                      <input class="form-control" type="number" min="0" max="59" (ngModelChange)="selectMin($event)"
                        [(ngModel)]="dueMin">
                    </div>
                    <div class="form-group col-md-3" *ngIf="showDate">
                      <label class="date-row">AM or PM</label>
                      <select class="form-control " [(ngModel)]="timeZone" (ngModelChange)="selectTimeZone($event)">
                        <option>PM</option>
                        <option>AM</option>
                      </select>
                    </div>
                  </div>
  
                  
                  <table class="table form-table" *ngIf="showFormTable">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th *ngFor="let item of cardStructureArr[0].cardStructure ">{{item.label}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let struc of cardStructureArr">
                        <td style="line-height: 1;">
                          <span class="user-col"> <img src="assets/icons/multi-user.png">
                            {{struc.userFirstName}} {{struc.userLastName}}</span>
                        </td>
                        <td *ngFor="let item of struc.cardStructure ">
                          <div *ngIf="item.type=='text'" class="input-col">
                            <input class="form-control" type="text" [(ngModel)]="item.value"
                              [disabled]="disabledForm || !item.editable">
                          </div>
                          <div *ngIf="item.type=='textarea'" class="input-col">
                            <textarea class="form-control" autosize  [(ngModel)]="item.value"
                              [disabled]="disabledForm || !item.editable" ></textarea>
                          </div>
                          <div *ngIf="item.type=='number'" class="input-col">
                            <input class="form-control" type="number" [(ngModel)]="item.value"
                              [disabled]="disabledForm || !item.editable">
                          </div>
                          <div *ngIf="item.type=='checkbox'" class="input-col">
                            <div *ngFor="let v of item.values" class="inline-form-group">
                              <mat-checkbox class="example-margin" [value]="v.value" name="{{item.name}}"
                                [disabled]="disabledForm || !item.editable">{{v.label}}</mat-checkbox>
                            </div>
                          </div>
                          <div *ngIf="item.type=='rating'" class="input-col">
                            <bar-rating [(rate)]="item.name" [max]="item.max" [theme]="item.theme"
                              [readOnly]="disabledForm || !item.editable"></bar-rating>
                          </div>
                        </td>
                      </tr>
  
                      
                    </tbody>
                  </table>
                  <div *ngFor="let struc of cardStructureArr">
                    <!-- [ngStyle]="{'border-bottom':card.userRoleAssigned === 'FACILITATOR' && struc.userId ?'1px solid lightgrey':'' }"> -->
  
                    <div class="row userCard"
                      *ngIf="!showFormTable && card.dataManagementRule.structureView != 'SINGLE' && !fromInterPlay">
                      <div class="col-md-12">
                        <div class="card" style="padding: 10px;background-color: lightgrey;">
                          <span style="font-size: 12px;">
                            <img src="assets/icons/multi-user.png">
                            {{struc.userFirstName}} {{struc.userLastName}}
                          </span>
                        </div>
                      </div>
                    </div>
  
  
                    <div *ngIf="!showFormTable">
                      <div *ngFor="let item of struc.cardStructure;let i= index;">
  
  
                        <div *ngIf="item.type=='text'">
                          <div class="form-group">
                            <div class="label-row">
                              <span class="col-md-6 label">{{item.label}}</span>
                              <!-- <span class="col-md-6">
                            <i *ngIf="item.toggle" (click)="item.toggle=false"
                                class="fa fa-chevron-up pull-right"></i>
                            <i *ngIf="!item.toggle" (click)="item.toggle=true"
                                class="fa fa-chevron-down pull-right"></i>
                            <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                          </span> -->
                            </div>
                            <div class="row">
                              <div class="col-md-11">
                                <input class="form-control" type="text" [(ngModel)]="item.value"
                                  [disabled]="disabledForm || !item.editable">
                              </div>
                              <!-- <div class="col-md-1 down-arrow-col">
                          <button  [matMenuTriggerFor]="beforeMenu" class="down-arrow-button"><i class="fa fa-angle-down " aria-hidden="true"></i>
                          </button>
                          <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-category" >
                              <mat-option  *ngFor="let topping of toppingList; let k =index" (click)="$event.stopPropagation();" class="category-opt">
                                  <mat-checkbox  (change)="onChange(topping);selected = k" [value] = "topping"> {{topping}}</mat-checkbox>
                              </mat-option>
  
                        <div class="category-buttons" >
                          <button class="mat-stroked-button" (click)="cancel()" mat-button style="margin-right: 10px;">cancel</button> 
                          <button class="mat-stroked-button" type="submit" (click)="save(item,topping)" mat-button style="margin-left: 10px;">save</button>
                        </div>
                          </mat-menu>
                        </div> -->
                            </div>
                          </div>
                        </div>
                        <div *ngIf="item.type=='textarea'">
                          <div class="form-group">
                            <div class="label-row">
                              <span class="col-md-6 label">{{item.label}}</span>
                              <!-- <span class="col-md-6" >
                          <i *ngIf="item.toggle" (click)="item.toggle=false"
                              class="fa fa-chevron-up pull-right"></i>
                          <i *ngIf="!item.toggle" (click)="item.toggle=true"
                              class="fa fa-chevron-down pull-right"></i>
                          <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                        </span> -->
                            </div>
                            <div class="row">
                              <div class="col-md-11">
                                <textarea class="form-control" [(ngModel)]="item.value"
                                  [disabled]="disabledForm || !item.editable" autosize></textarea>
                              </div>
                              <!-- <div class="col-md-1 down-arrow-col">
                          <button  [matMenuTriggerFor]="beforeMenu" class="down-arrow-button"><i class="fa fa-angle-down " aria-hidden="true"></i>
                          </button>
                          <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-category" >
                            <mat-option  *ngFor="let topping of toppingList; let k =index" (click)="$event.stopPropagation();" class="category-opt">
                              <mat-checkbox  (change)="onChange(topping);selected = k" [value] = "topping"> {{topping}}</mat-checkbox>
                          </mat-option>
                          <div class="category-buttons" >
                            <button class="mat-stroked-button" (click)="cancel()" mat-button style="margin-right: 10px;">cancel</button> 
                            <button class="mat-stroked-button" type="submit" (click)="save(item,topping)" mat-button style="margin-left: 10px;">save</button>
                          </div>
                          </mat-menu>
                        </div> -->
                            </div>
                          </div>
                        </div>
                        <div *ngIf="item.type=='number'">
                          <div class="form-group">
                            <div class="label-row">
                              <span class="col-md-6 label">{{item.label}}</span>
                              <!-- <span class="col-md-6">
                        <i *ngIf="item.toggle" (click)="item.toggle=false"
                            class="fa fa-chevron-up pull-right"></i>
                        <i *ngIf="!item.toggle" (click)="item.toggle=true"
                            class="fa fa-chevron-down pull-right"></i>
                        <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                      </span> -->
                            </div>
                            <div class="row">
                              <div class="col-md-11">
                                <input class="form-control" type="number" [(ngModel)]="item.value"
                                  [disabled]="disabledForm || !item.editable">
                              </div>
                              <!-- <div class="col-md-1 down-arrow-col">
                        <button  [matMenuTriggerFor]="beforeMenu" class="down-arrow-button"><i class="fa fa-angle-down " aria-hidden="true"></i>
                        </button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-category" >
                          <mat-option  *ngFor="let topping of toppingList; let k =index" (click)="$event.stopPropagation();" class="category-opt">
                            <mat-checkbox  (change)="onChange(topping);selected = k" [value] = "topping"> {{topping}}</mat-checkbox>
                        </mat-option>
                        <div class="category-buttons" >
                          <button class="mat-stroked-button" (click)="cancel()" mat-button style="margin-right: 10px;">cancel</button> 
                          <button class="mat-stroked-button" type="submit" (click)="save(item,topping)" mat-button style="margin-left: 10px;">save</button>
                        </div>
                        </mat-menu>
                      </div> -->
                            </div>
                          </div>
                        </div>
                        <div *ngIf="item.type=='checkbox'">
                          <div class="form-group">
                            <div class="label-row">
                              <span class="col-md-6 label">{{item.label}}</span>
                              <!-- <span class="col-md-6">
                    <i *ngIf="item.toggle" (click)="item.toggle=false"
                        class="fa fa-chevron-up pull-right"></i>
                    <i *ngIf="!item.toggle" (click)="item.toggle=true"
                        class="fa fa-chevron-down pull-right"></i>
                    <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                  </span> -->
                            </div>
                            <div class="row">
                              <div class="col-md-11">
                                <div *ngFor="let v of item.values" class="inline-form-group">
                                  <mat-checkbox class="example-margin" [value]="v.value" name="{{item.name}}"
                                    [disabled]="disabledForm || !item.editable">{{v.label}}</mat-checkbox>
                                </div>
                              </div>
                              <!-- <div class="col-md-1 down-arrow-col">
                    <button  [matMenuTriggerFor]="beforeMenu" class="down-arrow-button"><i class="fa fa-angle-down " aria-hidden="true"></i>
                    </button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-category" >
                      <mat-option  *ngFor="let topping of toppingList; let k =index" (click)="$event.stopPropagation();" class="category-opt">
                        <mat-checkbox  (change)="onChange(topping);selected = k" [value] = "topping"> {{topping}}</mat-checkbox>
                    </mat-option>
                    <div class="category-buttons" >
                      <button class="mat-stroked-button" (click)="cancel()" mat-button style="margin-right: 10px;">cancel</button> 
                      <button class="mat-stroked-button" type="submit" (click)="save(item,topping)" mat-button style="margin-left: 10px;">save</button>
                    </div>
                    </mat-menu>
                  </div> -->
                            </div>
  
                          </div>
  
                        </div>
  
                        <div *ngIf="item.type=='rating'">
                          <div class="form-group">
                            <div class="label-row">
                              <span class="col-md-6 label">{{item.label}}</span>
                              <!-- <span class="col-md-6">
                   <i *ngIf="item.toggle" (click)="item.toggle=false"
                       class="fa fa-chevron-up pull-right" ></i>
                   <i *ngIf="!item.toggle" (click)="item.toggle=true"
                       class="fa fa-chevron-down pull-right"></i>
                   <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
                 </span> -->
                            </div>
                            <div class="row">
                              <div class="col-md-11 bar-rating-col">
                                <bar-rating [(rate)]="item.name" [max]="item.max" [theme]="item.theme"
                                  [readOnly]="disabledForm || !item.editable"></bar-rating>
                              </div>
                              <!-- <div class="col-md-1 down-arrow-col">
                  <button  [matMenuTriggerFor]="beforeMenu" class="down-arrow-button"><i class="fa fa-angle-down " aria-hidden="true"></i>
                  </button>
                  <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-category" >
                    <mat-option  *ngFor="let topping of toppingList; let k =index" (click)="$event.stopPropagation();" class="category-opt">
                      <mat-checkbox  (change)="onChange(topping);selected = k" [value] = "topping"> {{topping}}</mat-checkbox>
                  </mat-option>
                  <div class="category-buttons" >
                    <button class="mat-stroked-button" (click)="cancel()" mat-button style="margin-right: 10px;">cancel</button> 
                    <button class="mat-stroked-button" type="submit" (click)="save(item,topping)" mat-button style="margin-left: 10px;">save</button>
                  </div>
                  </mat-menu>
                </div> -->
                            </div>
  
                          </div>
  
                        </div>
  
                        <div *ngIf="item.toggle" class="toggle-Wrapper">
                          <div class="form-group">
                            <label>Required</label>
                            <i *ngIf="item.required" (click)="item.required=false" class="fa fa-toggle-on red"></i>
                            <i *ngIf="!item.required" (click)="item.required=true" class="fa fa-toggle-off"></i>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="w-100">
                              <label>Label</label>
                              <input matInput type="text" [(ngModel)]="item.label">
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="w-100">
                              <label>Name</label>
                              <input matInput type="text" [(ngModel)]="item.name" disabled>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="w-100">
                              <label>Regex</label>
                              <input matInput type="text" [(ngModel)]="item.regex">
                            </mat-form-field>
                          </div>
                          <div *ngIf="item.regex" class="form-group">
                            <mat-form-field class="w-100">
                              <label>Error text</label>
                              <input matInput type="text" [(ngModel)]="item.errorText">
                            </mat-form-field>
                          </div>
  
                          <!-- number -->
                          <div *ngIf="item.type=='number'" class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <mat-form-field class="w-100">
                                  <label>Min</label>
                                  <input matInput type="number" [(ngModel)]="item.min">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <mat-form-field class="w-100">
                                  <label>Max</label>
                                  <input matInput type="number" [(ngModel)]="item.max">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
  
                          <!-- radio || checkbox || autocomplete -->
                          <div *ngIf="item.type=='radio'|| item.type=='checkbox' || item.type=='autocomplete'">
                            <div class="row">
                              <div class="col-5">
                                <div class="form-group">
                                  <label>Label</label>
                                </div>
                              </div>
                              <div class="col-5">
                                <div class="form-group">
                                  <label>Value</label>
                                </div>
                              </div>
                              <div class="col-2">
                                <div class="form-group">
                                  <label>Action</label>
                                </div>
                              </div>
                            </div>
                            <div *ngFor="let i of item.values; let valueIndex=index;" class="row">
                              <div class="col-5">
                                <div class="form-group">
                                  <mat-form-field class="w-100">
                                    <input matInput type="text" [(ngModel)]="i.label">
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col-5">
                                <div class="form-group">
                                  <mat-form-field class="w-100">
                                    <input matInput type="text" [(ngModel)]="i.value">
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col-2">
                                <div class="form-group">
                                  <button mat-raised-button color="warn"
                                    (click)="item.values.splice(valueIndex,1)">remove</button>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="text-center">
                                  <button mat-raised-button color="primary" (click)="addValue(item.values)">Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 card main-card drag-col" *ngIf="false">
        <!-- <div class="row main-card">
                <div class="col-md-1">
                    <button class="angle-right-btn"  (click) = "expandFormCard = !expandFormCard"><i class="fa fa-angle-right " aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-md-12 card ">
                    <mat-tab-group mat-stretch-tabs>
                        <mat-tab label="Library"> Library </mat-tab>
                        <mat-tab label="Save Question"> Save Question </mat-tab>
                      </mat-tab-group>
                </div>
            </div> -->
  
        <!-- <div class="card main-card"> -->
        <div class="card-body tab-card">
          <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Library">
              <div class="mg-tp-5 mg-lf-15">
                <span class="form-sub-head">Library of component to make a card</span>
              </div>
              <!-- <div class="row drag-item-row ">
                          <div
                          cdkDropList
                          #todoList="cdkDropList"
                          class="drag-item"
                          (cdkDropListDropped)="drop(field)" *ngFor="let field of fieldModels">
                          <span cdkDrag>
                          <i [ngClass]="field.icon" class="fa m-2"></i>
                          <p class="small">{{field.label}}</p>
                        </span>
                      </div>
                  </div> -->
              <div class="row drag-item-row ">
                <div class="drag-item" *ngFor="let field of fieldModels">
                  <span>
                    <i [ngClass]="field.icon" class="fa m-2"></i>
                    <p class="small">{{field.label}}</p>
                  </span>
                </div>
              </div>
              <div class="mg-tp-5 mg-lf-15">
                <span class="form-sub-head">Ratings</span>
              </div>
              <div class="row drag-item-row ">
                <!-- <div
                    cdkDropList
                    #todoList="cdkDropList"
                    class="drag-rating-item"
                    (cdkDropListDropped)="dropRatings(field)" *ngFor="let field of barthemeArr" cdkDrag>
                    <div  >
                      <bar-rating [(rate)]="field.value" [max]="field.max" [theme]="field.theme" class="rating-bar" ></bar-rating>
                    </div>
                </div> -->
  
                <div *ngFor="let field of barthemeArr">
                  <div class="drag-rating-item">
                    <bar-rating [(rate)]="field.value" [max]="field.max" [theme]="field.theme" class="rating-bar">
                    </bar-rating>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Save Question">
              <!-- <div class = "container">
                     <div class="row" style="margin-top: 10px;" *ngIf = "showAddCategory">
                        <div class="col-md-10 drop-category">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                        </div>
                        <div class="col-md-2 " >
                          <button mat-button (click) ="showAddCategory = !showAddCategory"  class=" add-category-btn "><i class="fa fa-plus-square-o add-icon" aria-hidden="true"></i>
                          </button>             
                        </div>
                     </div>
  
                     <div class="row" style="margin-top: 10px;" *ngIf = "!showAddCategory">
                      <div class="col-md-10 drop-category form-group">
                        <input type="text" class="form-control" [(ngModel)] = "categoryName">
                      </div>
                      <div class="col-md-2 " >
                        <button mat-button (click) ="showAddCategory = !showAddCategory"  class=" add-category-btn "><i class="fa fa-check add-icon" aria-hidden="true"></i>
                        </button>             
                      </div>
                   </div>
                   <div  style="margin-top: 15px;">
                        <div class="row"  *ngFor = "let item of model.attributes;let i= index;">
                          <div class="col-md-10 drop-category form-group">
                            <input type="text" class="form-control" placeholder="{{item.label}}">
                          </div>
                          <div class="col-md-2 " >
                            <button mat-button   class=" delete-category-btn "><i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                            </button>             
                          </div>
                       </div>
                   </div> 
                   </div> -->
            </mat-tab>
          </mat-tab-group>
        </div>
        <!-- </div> -->
  
      </div>
  
  
  
      <div class="col-md-3 card main-card drag-col" *ngIf="!showFullForm && !showFormTable">
        <div class="card-body">
          <div class="row team-row">
            <span>
              People in team working on this step
            </span>
          </div>
          <div class="container">
            <div class="row" class="team-head">
              <span>Team: {{teamName}}</span>
            </div>
            <div class="row">
              <ul class="list-group col-md-12">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0"
                  *ngFor="let user of teamObj">
                  <div>
                    <img src="assets/icons/multi-user.png">
                    <div class="username">
                      <span class="team-user-name"> {{user.firstName}} {{user.lastName}}
                        <br><span class="userStatusHead">Current Activity Status: </span><span
                          class="userStatus">{{user.cardStatus | transform}}</span>
                      </span>
                      <!-- <span class="badge user-card-status">{{user.cardStatus | transform}}</span> -->
                    </div>
                  </div>
  
                  <span class="badge user-card-status" *ngIf="user.role == 'FACILITATOR'"><img
                      src="assets/icons/letter-f-16.png"></span>
                  <span class="badge user-card-status" *ngIf="user.role == 'PARTICIPANT'"><img
                      src="assets/icons/letter-p-16.png"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-1" *ngIf = "expandFormCard">
              <button class="angle-left-btn"  (click) = "expandFormCard = !expandFormCard"><i class="fa fa-angle-left " aria-hidden="true"></i>
              </button>
          </div> -->
    </div>
  </div>
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="LoadingTemplate"></ngx-loading>
  
  <ng-template #LoadingTemplate>
    <div class="loadingTitle">
      <h5>Loading...</h5>
    </div>
  </ng-template>