<form [formGroup]="stageForm" (submit)="addStage()">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="md-form md-outline">
            <input type="text" mdbInput id="stageName" class="form-control" formControlName="stageName"
                mdbValidate>
            <label for="stageName">Stage Name*</label>
            <mdb-error *ngIf="submitted && f.stageName.errors">Stage Name required</mdb-error>
        </div>
        <div class="md-form">
            <mdb-select [outline]="true" id="stageStandardName" formControlName="stageStandardName" [options]="stageStandardNameOptions"
                label="Stage Standard Name*" mdbValidate></mdb-select>
            <mdb-error *ngIf="submitted && f.stageStandardName.errors">Stage Standard Name required</mdb-error>
        </div>
        <div class="md-form md-outline">
            <textarea formControlName="stageDescription" id="stageDescription"
                class="md-textarea form-control" row="3" type="text" mdbInput mdbValidate></textarea>
            <label for="stageDescription">Stage Description*</label>
            <mdb-error *ngIf="submitted && f.stageDescription.errors">Stage Description required
            </mdb-error>
        </div>

        <div class="md-form">
            <mdb-select [outline]="true" id="stageFlowRule" formControlName="stageFlowRule" [options]="stageFlowRuleOptions"
                label="Stage Flow Rule*" mdbValidate></mdb-select>
            <mdb-error *ngIf="submitted && f.stageFlowRule.errors">Stage Flow Rule required</mdb-error>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect
            (click)="modalRef.hide()">Close</button>
        <button [disabled]="loading" mdbBtn color="primary" class="waves-light" mdbWavesEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save</button>
    </div>
</form>