<form [formGroup]="orchestrationsForm" (submit)="addOrchestrations()">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="md-form md-outline">
            <input type="text" mdbInput id="orchestrationName" class="form-control" formControlName="orchestrationName"
                mdbValidate>
            <label for="orchestrationName">Orchestration Name*</label>
            <mdb-error *ngIf="submitted && f.orchestrationName.errors">Orchestration name required</mdb-error>
        </div>
        <div class="md-form">
            <mdb-select [outline]="true" id="kanbanType" formControlName="kanbanType" [options]="KanbanOptions"
                label="Kanban Type*" mdbValidate></mdb-select>
            <mdb-error *ngIf="submitted && f.kanbanType.errors">Kanban Type required</mdb-error>
        </div>
        <div class="md-form md-outline">
            <textarea formControlName="orchestrationDescription" id="orchestrationDescription"
                class="md-textarea form-control" row="3" type="text" mdbInput mdbValidate></textarea>
            <label for="orchestrationDescription">Orchestration Description*</label>
            <mdb-error *ngIf="submitted && f.orchestrationDescription.errors">Orchestration description required
            </mdb-error>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect
            (click)="modalRef.hide()">Close</button>
        <button [disabled]="loading" mdbBtn color="primary" class="waves-light" mdbWavesEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save</button>
    </div>
</form>