<div class="card-grid-body justify-content-between">

    <div class="row">
      <!-- <div class="col-md-6 col-sm-12 col-12 "> -->
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <mat-chip-list  #chipList aria-label="Fruit selection" >
          <mat-chip *ngFor="let item of filterData" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(item)">
                   <img src="assets/icons/multi-user.png" style="margin-right: 10px;" *ngIf = "item.parent === 'Teams'">
                   <img src="assets/icons/hand-shake.png" style="margin-right: 10px;" *ngIf = "item.parent === 'InterPlay'">
                   <img src="assets/icons/canvas-icon1.png" style="margin-right: 10px;" *ngIf = "item.parent === 'Canvas'">
            {{item.child}}
            <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
            <img matChipRemove *ngIf="removable" src="assets/icons/close-icon (2).png" style="cursor: pointer;">
          </mat-chip>
        </mat-chip-list >  
      </div>
      <!-- <div class="col-md-6 col-sm-12 col-12" style="text-align: right;"> -->
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="text-align: right;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
      <div class=" row" >
       
      <div class = "card-col col-md-3 col-sm-4" *ngFor = "let item of cardsArr | paginate: { itemsPerPage: 12, currentPage: p }; let i = index;">
      <div class="card grid-col card-grid "  [ngClass] = "{
        'border-complete':item.cardStatus  === 'CLOSED',
        'border-inprogress':item.cardStatus === 'IN_PROGRESS',
        'border-inititate':item.cardStatus === 'NOT_STARTED',
        'border-done':item.cardStatus === 'DONE'
      }" >
        <!-- <div class="card-header card-grid-header">
          
        </div> -->
        <div class="card-body card-grid-body-main">
          <div class="row icon-row">
            <div class="col-md-3 text-center" >
              <div>
                <img src="assets/icons/mindset.png">
              </div>
              <span class="ttls icon-col" >{{item.stateStandardName | transform}}</span>
            </div>
            <div class="col-md-3 text-center" *ngIf = "item.editRule">
              <div >
                <img src="assets/icons/edit.png">
              </div>
              <span class="ttls icon-col" style="position: relative; top: -5px;">Edit</span>
            </div>
            <div class="col-md-3 text-center" *ngIf = "!item.editRule">
              <div >
                <img src="assets/icons/review.png">
              </div>
              <span class="ttls icon-col" style="position: relative; top: -5px;">Review</span>
            </div>
            <!-- <div class="col text-center"> 
              <div >
                <img src="assets/icons/private.png">
              </div>
              <span class="ttls">Private</span>
            </div> -->

            <!-- menu item -->
            <!-- <div class="col" style="text-align: right;" [matMenuTriggerFor]="beforeMenu">
              <img src="assets/icons/h-dots.png">
            </div>
            <mat-menu #beforeMenu="matMenu" xPosition="before" class="card-menu">
              <button mat-menu-item (click) = "editCard(item)">Open</button>
            </mat-menu> -->

            <div class="col" style="text-align: right;" (click) = "editCard(item)" mdbTooltip="Open">
              <img src="assets/icons/h-dots.png">
            </div>
          </div>
          <div class="row cardName" >
           Card: {{item.stageSequenceNumber}}.{{item.cardSequenceNumber}} {{item.cardName}} 
          </div>
          <div class="row">
            <div class="col-md-12 tabs-sec">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#nego{{i}}" role="tab" aria-controls="home" aria-selected="true"><img src="assets/icons/hand-shake.png"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#date{{i}}" role="tab"  aria-selected="false" > <img src="assets/icons/date.png"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stage{{i}}" role="tab" aria-controls="profile" aria-selected="false"> <img src="assets/icons/v-dots.png"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#team{{i}}" role="tab" aria-controls="contact" aria-selected="false"><img src="assets/icons/multi-user.png"></a>
              </li>
              <li class="status-sec" [ngClass]="{'mg-l-20' : item.cardStatus === 'CLOSED' || item.cardStatus === 'DONE' }">
                <!-- <div class="status-text">
                  Status
                </div> -->
                <span class="card-list-data ttls card-status">{{item.cardStatus | transform}}</span> 
                <span class="card-icons" style="color : skyblue" *ngIf = "item.cardStatus === 'CLOSED'"><img src="assets/icons/closed-icon1.png"></span>

                <span class="card-icons" style="color : #E5E5E5" *ngIf = "item.cardStatus === 'NOT_STARTED'"><img src="assets/icons/not-started-icon1.png"></span>

                <span class="card-icons" style="color : #6FB72B" *ngIf = "item.cardStatus === 'IN_PROGRESS'"><img src="assets/icons/in-prog-icon1.png"></span>

                <span class="card-icons" style="color : #FFBE06" *ngIf = "item.cardStatus === 'DONE'"><img src="assets/icons/done-icon1.png"></span>
              

              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="nego{{i}}" role="tabpanel" aria-labelledby="home-tab">
                <span class="ttls">InterPlay: {{item.negotiationName}}</span>
              </div>
              <div class="tab-pane fade" id="date{{i}}" role="tabpanel" aria-labelledby="profile-tab">
                <span class="smalldate ">
                  Created: {{item.createdDateTime | date: 'dd/MM/yyyy'}}
                </span>
                <span *ngIf = "!item.dueDate" class="smalldate dueDate"> No Due Date </span>
                <span *ngIf = "item.dueDate && item.cardStatus === 'CLOSED'" class="smalldate dueDate" >Closed: {{item.dueDate | date: 'dd/MM/yyyy'}}</span>
                <span *ngIf = "item.dueDate && item.cardStatus != 'CLOSED'" class="smalldate dueDate" >Due: {{item.dueDate | date: 'dd/MM/yyyy'}}</span>
              </div>
              <div class="tab-pane fade" id="stage{{i}}" role="tabpanel" aria-labelledby="contact-tab">
                <span class="ttls">Stage: {{item.stageName}}  |  State: {{item.stateStandardName}}</span>
              </div>
              <div class="tab-pane fade" id="team{{i}}" role="tabpanel" aria-labelledby="contact-tab">
                <span class="ttls">Team: {{item.teamName}}</span>
              </div>
            </div>
          </div>
            <!-- <span class="col-md-3">
                status
            </span> -->
          </div>
        </div>
    </div> 
  </div>
</div>
</div>