.card-grid-body{
    /* max-width: 1340px; */
    /* text-align: center; */
  }
      .corner {
          width: 0;
          height: 0;
          border-bottom: 45px solid #FF860D;
          border-left: 45px solid transparent;
          float: right;
          color: white;
          position: relative;
          top: 21px;
          left: 21px;
        }
  
        .corner span {
          /* position:absolute;
          width: 100px;
          left: 5px; */
          float: right;
          position: relative;
          top: 20px;
          text-align: center;
          font-size: 12px;
          right: 1px;
          font-family: arial;
          transform: rotate(-45deg);
          display:block;
        }
  
     .mat-chip{
       background-color: white;
       border: #CECECE 1px solid;
       font-family: "Open Sans";
       font-size: 14px;
       color: #6C5E70;
     }
      
     .smalldate{
       font-family: "Open Sans" !important;
      color: #666666;
      font-size: 13px;
  }
  .status-text{
    font-family: "Helvetica";
    font-size: 9px;
    color: #AAAAAA;
  }
  
  .ttls{
    font-family: "Open Sans" !important;
    font-size: 14px;
    /* font-weight: bold; */
    color: #666666;
  }
  
  .card{
    cursor: pointer;
  }
  
  .ngx-pagination{
    margin-bottom: 5px !important;
  }
  
  .col-xl-3{
    max-width: 380px !important;
  }
  
  .ttls{
    font-size:13px;
  }
  
  .nav-tabs .nav-link {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .icon-row{
    /* margin-left: 0.02rem; */
  }
  .cardName
  {
    font-size:15px;
    margin: 0 0 10px 0;
    /* margin-left: -10px; */
    height : 50px;
    border-top: #F1EDF7 1px solid;
    border-bottom: #F1EDF7 1px solid;
  }
  /* .active{
    background-color: skyblue;
  } */
  
  .tab-content{
    /* background-color: lightblue;
    padding-right: -20px;
    padding-right: -20px; */
  }
  
  .tab-pane{
    padding: 3px 7px;
    /* margin-bottom: -3px; */
  }
  
  .status-sec{
  margin-left: 15px !important;
  /* float: right; */
  position: relative;
    top: 5px;
  }
  .card-status{
    position: relative;
    // top: -8px;
    font-size: 12px;
    margin-right: 15px;
  }

  .card-icons{
    position: relative;
    top: 3px;
  }
  
  .nav-link {
    padding: 0.25rem 0.25rem;
  }
  .tab-content{
    margin-left: -20px !important;
    margin-right: -20px;
    margin-top: -3px;
    border-top: #F1EDF7 1px solid;
    background-color: white;
  }
  
  .nav-item .active{
    /* background-color: #F1EDF7 !important; */
    border: 0 !important;
    /* margin-bottom: -px !important; */
  
  }
  
  .nav-tabs{
    border: 0 !important;
    }
  
    .dueDate{
      margin-top: 3px;
      float: right;
    }
  
    .nav-tabs{
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .mg-l-20{
      margin-left: 40px !important;
    }