

.select-menu-btn{
    background-color: white;
    border: 1px solid lightgray !important;
    font-family: "Helvetica";
    font-size: 14px;
    /* box-shadow: 5px 5px 5px #888888; */
    
    }

.btn{
        padding: 0.35rem 1rem;
        border-radius: 4px;
    }
  
.text-head{
    font-size: 16px;
    font-family: Roboto;
}    