<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h5 class="mb-0 text-head">
      <span *ngIf = "showCardGrid">Card</span>
      <span *ngIf = "!showCardGrid">Kanban</span>
    </h5>
  
    <div>
      <span *ngIf = "setActive" class="text-head">Upto In Progress </span><span *ngIf = "!setActive" class="text-head"> Plus Closed </span>
      <mat-slide-toggle (change) = "toggleActive()" style="margin-right: 10px;" [checked] = "setActive === true ? true : false"></mat-slide-toggle>
      <button mdbBtn [matMenuTriggerFor]="beforeMenu" class="select-menu-btn mr-2" *ngIf="user.role != 'PARTICIPANT'">
        <span style="margin-right: 7px;">Setup InterPlay</span>
        <img src="assets/icons/plus-icon.png">
      </button>
  
      <button mdbBtn  class="select-menu-btn " [matMenuTriggerFor]="filter" *ngIf = "showFilter"><span
          style="margin-right: 7px;">Filter</span><img src="assets/icons/filter-icon.png">
      </button>
      <button mdbBtn  class="select-menu-btn " routerLink = "/negotiations" *ngIf = "!showFilter"><span
        style="margin-right: 7px;">Back</span>
    </button>
  
    <div class="btn-group">
      <button mdbBtn id="cardGrid"  (click)="showCardGrid = true" [ngClass]="{'active-btn' : showCardGrid}" mdbTooltip="Card">
        <img src="assets/icons/grid-white.png" *ngIf="showCardGrid">
        <img src="assets/icons/grid-purple.png" *ngIf="!showCardGrid">
      </button>
  
      <button mdbBtn id="kanban"  (click)="showCardGrid = false" [ngClass]="{'active-btn' : !showCardGrid}" mdbTooltip="Kanban">
        <img src="assets/icons/kanban-white.png" *ngIf="!showCardGrid">
        <img src="assets/icons/kanban-purple.png" *ngIf="showCardGrid">
      </button>
    </div>
    </div>
  
  </div>
  
  <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-orch" >
    <div class="menu-head" >
      Setup InterPlay By Selecting a Canvas
    </div>
    <div *ngFor="let item of orchestrationArr" >
      <button mat-menu-item (click)="goToCreateCard(item)" mdbTooltip="{{item.orchestrationDescription}}" style="word-break:break-all;">{{item.orchestrationName}} [{{item.orchestrationDescription}}]</button>
    </div>
  </mat-menu>
  
  <mat-menu #filter="matMenu" xPosition="before" class="filter-menu">
    <form>
      <ngx-treeview [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)"
        (click)="$event.stopPropagation();">
      </ngx-treeview>
    </form>
  </mat-menu>
  
  
  
  <app-card-grid [cardsArr]="cardsDisplayArr" [filterData]="filterData" *ngIf="showCardGrid"
    (removeFilerItem)="removeFilerItem($event)"></app-card-grid>
    
  <app-card-kanban [cardsArr]="cardsDisplayArr" [filterData]="filterData" *ngIf="!showCardGrid"
    (removeFilerItem)="removeFilerItem($event)"></app-card-kanban>
  
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop : true}"></ngx-loading>