:host ::ng-deep .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
}

:host ::ng-deep .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

:host ::ng-deep .navbar .breadcrumb-dn {
    width: 50%;
}

:host ::ng-deep ul li.dropdown a.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active-link{
    color: #7749b3!important;
    font-weight: bold;
}