<div class="p-0 mb-4 mt-lg-3 mt-sm-3 mt-xs-3">
  <div class="d-sm-flex align-items-center justify-content-between">
    <div class="col-md-6 panel-title p-0">
      <h4><span class="px-3 py-2 white-text z-depth-1-half light-blue lighten-1" style="
            border-radius: 5px;">
          <mdb-icon fas icon="align-justify" class="mt-0 mr-1" aria-hidden="true"></mdb-icon>Canvas Kanban -
          "{{canvas.orchestrationName}}"
        </span></h4>
    </div>

    <button class="mt-lg-0 mt-xs-3 mt-sm-3" mdbBtn type="button" color="info" rounded="true" outline="true"
      mdbWavesEffect (click)="addStage(addStageData,'no_next_stage')">
      <mdb-icon fas icon="plus" class="mt-0 mr-1"></mdb-icon>Add Stage
    </button>

  </div>


  <div *ngIf="!wait" class="kanban-board mt-lg-3" tabindex="0" cdkDropListGroup>
    <div class="kanban-col" tabindex="0" *ngFor="let stage of stageDetails; let i = index">
      <div class="card-list">

        <div class="card-list-header mb-3">
          <h6>

            {{stage.stageName | slice:0:30}}
            <span class="smalldate">{{stage.stageStandardName }}</span></h6>

          <div class="dropdown" mdbDropdown>

            <button mdbDropdownToggle color="primary" class="btn-options" type="button" mdbWavesEffect>
              <mdb-icon fas icon="ellipsis-v"></mdb-icon>
            </button>

            <div class="dropdown-menu dropdown-primary dropdown-menu-right">
              <a class="dropdown-item d-flex" (click)="addStage(stage, 'next_stage')">
                <mdb-icon fas icon="plus" class="mt-0 mr-1"></mdb-icon> Add Stage
              </a>
              <a class="dropdown-item d-flex" (click)="addCard(stage,stageDetails)">
                <mdb-icon fas icon="plus" class="mt-0 mr-1"></mdb-icon> Add Card
              </a>
              <a class="dropdown-item d-flex" (click)="addStage(stage,'no_next_stage')">
                <mdb-icon fas icon="edit" class="mt-0 mr-1"></mdb-icon> Edit Stage
              </a>
              <a class="dropdown-item text-danger d-flex" (click)="deleteStage(stage)">
                <mdb-icon fas icon="trash" class="mt-0 mr-1"></mdb-icon> Delete Stage
              </a>
            </div>
          </div>
        </div>

        <div class="card-list-cdk" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="stage.cards"
          [id]="stage.stageId">
          <div class="card-list-body" tabindex="0" [cdkDragData]="card" *ngFor="let card of stage.cards; let j = index"
            cdkDrag>

            <mdb-card borderColor="border-light" class="rounded">
              <mdb-card-header class="bg-transparent border-light p-2">
                <div class="d-flex">

                  <div class="mr-2 justify-content-center">
                    <div class="text-center">
                      <img src="assets/icons/mindset.png">
                    </div>
                    <span class="ttls">{{card.stateStandardName}}</span>
                  </div>

                  <div class="text-center" *ngIf="card.editRule">
                    <div>
                      <img src="assets/icons/edit.png">
                    </div>
                    <span class="ttls">Edit</span>
                  </div>

                  <div class="text-center" *ngIf="!card.editRule">
                    <div>
                      <img src="assets/icons/review.png">
                    </div>
                    <span class="ttls">Review</span>
                  </div>

                  <div class="ml-auto">

                    <div class="dropdown" mdbDropdown>

                      <button mdbDropdownToggle color="primary" class="btn-options" type="button" mdbWavesEffect>
                        <img src="assets/icons/h-dots.png">
                      </button>

                      <div class="dropdown-menu dropdown-primary dropdown-menu-right">
                        <a class="dropdown-item d-flex" (click)="editCard(stage,card, stageDetails)">
                          <mdb-icon fas icon="edit" class="mt-0 mr-1"></mdb-icon> Edit Card
                        </a>
                        <a class="dropdown-item text-danger d-flex" (click)="deleteCard(stage,card)">
                          <mdb-icon fas icon="trash" class="mt-0 mr-1"></mdb-icon> Delete Card
                        </a>
                      </div>
                    </div>

                  </div>

                </div>
              </mdb-card-header>
              <mdb-card-body class="p-1">
                <div class="mb-3 carddes">
                  Card: {{card.stageSequenceNumber}}.{{card.cardSequenceNumber}} {{card.cardName}}
                </div>
              </mdb-card-body>
              <mdb-card-footer class="bg-transparent border-light p-0 pt-1 pt-1 borderstatus">

                <div class="cardstatus">
                  <span class="card-list-data ttls card-status">Not Started </span>
                   <span class="card-icons"><img src="assets/icons/not-started-icon.png"></span>
                </div>

                <mdb-tabset [buttonClass]="'white border-bottom'" class="ockanban">
                  <mdb-tab class="p-0 pr-1 pl-1 m-0" heading="<img src='assets/icons/date.png'>">
                    <span class="smalldate ">
                      Created On: {{card.createdDateTime | date}}
                    </span>
                    <span class="smalldate dueDate"> No Due Date </span>
                  </mdb-tab>
                  <mdb-tab class="p-0 m-0 pr-1 pl-1" heading="<img src='assets/icons/v-dots.png'>">
                    <span class="ttls">Stage: {{stage.stageName}} | State: {{stage.stageStandardName}}</span>
                  </mdb-tab>
                </mdb-tabset>

              </mdb-card-footer>
            </mdb-card>

            <!-- <div class="card card-kanban animated swing" tabindex="0">
              <div class="card-body p-0">
  
  
                <div class="row mt-1 mb-1">

                  <div class="ml-4 mr-2 text-center">
                    <div>
                      <img src="assets/icons/mindset2.png">
                    </div>
                    <span class="ttls">{{card.stateStandardName}}</span>
                  </div>

                  <div class=" text-center" *ngIf = "card.editRule">
                    <div>
                      <img src="assets/icons/edit.png">
                    </div>
                    <span class="ttls">Edit</span>
                  </div>

                  <div class=" text-center" *ngIf = "!card.editRule">
                    <div>
                      <img src="assets/icons/review.png">
                    </div>
                    <span class="ttls">Review</span>
                  </div>
                  <div class="col">
                    <div class="dropdown card-options col">
                      <button class="btn-options pull-right" type="button" id="kanban-dropdown-button-9" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="assets/icons/h-dots.png">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item d-flex" (click)="editCard(stage,card, stageDetails)">
                          <mat-icon>edit</mat-icon> Edit Card
                        </a>
                        <a class="dropdown-item text-danger d-flex" (click)="deleteCard(stage,card)">
                          <mat-icon>delete_sweep</mat-icon> Delete Card
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
  
  
                <div class="align-items-center ml-2 mb-3 carddes">
                  Card: {{card.stageSequenceNumber}}.{{card.cardSequenceNumber}} {{card.cardName}}
                </div>
  
  
                <div class="row">
                  <div class="col-md-12 tabs-sec">
                    <ul class="nav nav-tabs mr-auto" id="myTab" role="tablist">
  
                      <li class="nav-item ml-2">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#date{{i}}_{{j}}" role="tab"
                          aria-controls="profile" aria-selected="true"> <img src="assets/icons/date.png"></a>
                      </li>
  
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stage{{i}}_{{j}}" role="tab"
                          aria-controls="profile" aria-selected="false"> <img src="assets/icons/v-dots.png"></a>
                      </li>
  
                      <li class="nav-item last">
                        <span class="card-list-data ttls card-status">Not Started</span>
                        <span class="card-icons"><img src="assets/icons/not-started-icon.png"></span>
                      </li>
                    </ul>
  
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="date{{i}}_{{j}}" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <span class="smalldate ">
                          Created On: {{card.createdDateTime | date}}
                        </span>
                        <span class="smalldate dueDate"> No Due Date </span>
                      </div>
                      <div class="tab-pane fade" id="stage{{i}}_{{j}}" role="tabpanel" aria-labelledby="contact-tab">
                        <span class="ttls">Stage: {{stage.stageName}} | State: {{stage.stageStandardName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
              <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div> -->

          </div>
        </div>

        <div class="card-list-footer text-center">
          <button (click)="addCard(stage,stageDetails)" class="btn btn-link btn-sm text-small">Add Card</button>
        </div>
      </div>
    </div>

  </div>
</div>
<p class="text-center" *ngIf="wait">
  Please wait...
</p>