.kanban-board {
    flex: 1;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
.progress{
    border-radius: 0px 0px 6px 6px;
}
.kanban-board > .kanban-col {
    max-width: 22.5rem;
}
.kanban-board > .kanban-col {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1 0 auto;
    width: calc(100vw - 24px);
    max-height: 100%;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    outline: none !important;
}
.kanban-board > .kanban-col .card-list {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-list {
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #dee2e6;
}
.card-body{
    cursor: grab;
}
.kanban-board > .kanban-col .card-list-header {
    display: block;
    position: relative;
}
.kanban-board > .kanban-col .card-list-header .dropdown {
    position: absolute;
    right: 0;
    top: 0;
}
.kanban-board > .kanban-col .card-list-body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kanban-board > .kanban-col .card-list-body {
    min-height: 1rem;
}
.card-list .card {
    border: none;
    outline: none;
}

.card {
    margin-bottom: 0.75rem;
}
.card {
    box-shadow: 0px 3px 6px #00000029;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
}
.card-list-body{
    box-shadow: 0px 3px 6px #00000029;
}
.card-kanban .card-options {
    top: 1rem;
}
.dropup, .dropright, .dropdown, .dropleft {
    position: relative;
}
.card-project .card-title:last-child, .card-kanban .card-title:last-child {
    margin-bottom: 0;
}

.card-project .card-title, .card-kanban .card-title {
    margin-bottom: 0.75rem;
}
.card .card-title {
    max-width: 90%;
}
.card-title {
    color: #333333;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
}
.kanban-board > .kanban-col .card-list-footer {
    padding-top: 0.75rem;
}
.kanban-board > .kanban-col .card-list-footer .btn-link {
    padding: 0;
}
.btn-options {
    color: #6c757d;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.card > .progress {
    height: 7px;
    background: none;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.card > .progress .progress-bar {
    height: 4px;
    border-radius: 0 0 .5rem .5rem;
}
.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.card-list-cdk {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
min-height: 100px;
}
.card-list-body.cdk-drop-list-dragging .card-list-body:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}
.dropdown-menu {
    margin-top: 5px;
    right: 0 !important;
    left: auto;
    transform: translate3d(0px,13px,0) !important;
    border-radius: 0.5rem;
}

.smalldate{
    font-family: "Helvetica";
    color: #333333;
    font-size: 13px;
}
.ttls{
    /* font-family: "Helvetica Neue"; */
    font-family: "Open Sans" !important;
    font-size: 13px;
    color: #666666;
    white-space: normal;
}

.brtop{
    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
}
.card-kanban .avatars {
    margin-bottom: 0.75rem;
}
.avatars > li {
    display: inline-block;
}
.dot {
    height: 35px;
    width: 35px;
    background-color: #F3F5F9;
    color: #656565;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
  }
  .status {
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
  .card-meta{
      font-size: 15px;
  }
  .btn-link:hover{
      text-decoration: none;
  }
  .dropdown-item{
    cursor: pointer;
  }

  .nav-tabs {
    border: 0 !important;
}


.nav-item .active {
    background-color: #F1EDF7 !important;
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
    border-bottom: 0px;
}
.nav-link {
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
    padding: 4px;
}
.tab-content {
    margin-top: -3px !important;
    background-color: #F1EDF7 !important;
}
.tab-pane{
    padding-left: 7px;
    padding-bottom: 5px;
}
.dueDate {
    margin-top: 3px;
    float: right;
}
.card-status {
    bottom: 6px;
}
.last {
    position: absolute;
    right: 23px;
}
.card-list-data{
    left: -6px !important;
}
.carddes{
    font-size: 15px;
    white-space: normal;
}
.cardstatus{
    position: absolute;
    bottom: 27px;
    z-index: 1;
    right: 3px;
}
.borderstatus{
    border-bottom: 2px solid gray !important;
}