<div class="container pt-4">
    <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }">
      <!--Card image-->
      <div
        class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
      >   
        <a href="" class="white-text mx-3">InterPlays</a>
    
        <div>
          <button
            type="button"
            mdbBtn
            outline="true"
            color="white"
            rounded="false"
            size="sm"
            class="px-2"
            [matMenuTriggerFor]="beforeMenu"  
          >
            <mdb-icon fas icon="plus" class="mt-0 mr-1"></mdb-icon>
            SetUp InterPlay
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before" class="select-orch" >
            <div class="menu-head" >
              Setup InterPlay By Selecting a Canvas
            </div>
            <div *ngFor="let item of orchestrationArr" >
              <button mat-menu-item (click)="goToCreateCard(item)" mdbTooltip="{{item.orchestrationDescription}}" style="word-break:break-all;" placement="bottom">{{item.orchestrationName}} [{{item.orchestrationDescription}}]</button>
            </div>
          </mat-menu>
        </div>
      </div>
      <!--/Card image-->
    
      <div class="px-4">
        <div class="table-wrapper">
          <!--Table-->
          <table class="table table-hover mb-0" mdbTable >
            <!--Table head-->
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th class="th-lg" >
                  <a (click)="sortBy('negotiationName')"
                    >InterPlay
                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                  </a>
                </th>
                <th class="th-lg">
                  <a (click)="sortBy('negotiationStatus')"
                    >Status
                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                  </a>
                </th>
                <th class="th-lg">
                  <a>Action</a>
                </th>
              </tr>
            </thead>
            <!--Table head-->
    
            <!--Table body-->
            <tbody>
              <tr *ngFor="let negotiation of negotiationList | paginate: { itemsPerPage: 7, currentPage: p }; let i =index;">
                <th scope="row">
                  {{i + 1}}
                </th>
                <td>{{negotiation.negotiationName}}</td>
                <td>{{negotiation.negotiationStatus | transform}}</td>
                <td class="action-btns">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">

                        <button mdbBtn type="button" color="purple" size="sm" class="waves-light" mdbWavesEffect *ngIf = "userdata.role !== 'PARTICIPANT'" mdbTooltip="View Interplay" (click) ="viewNego(negotiation)"><i class="fa fa-edit"></i></button>

                        <button mdbBtn type="button" color="purple" size="sm" class="waves-light" mdbWavesEffect mdbTooltip="Card View" *ngIf = "negotiation.negotiationStatus != 'NOT_STARTED'" (click) = "viewCards(negotiation,true)"><img src="assets/icons/grid-purple.png" ></button>

                        <button mdbBtn type="button" color="purple" size="sm" class="waves-light" mdbWavesEffect mdbTooltip="Kanban View" *ngIf = "negotiation.negotiationStatus != 'NOT_STARTED'" (click) = "viewCards(negotiation,false)"><img src="assets/icons/kanban-white.png"></button>
                    </div>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>
    
        <hr class="my-0" />
    
        <div style="float: right;margin-top: 15px;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

        <!--Bottom Table UI-->
        <div class="d-flex justify-content-between">
          <!--Pagination -->
          
          <!--/Pagination -->
        </div>
        <!--Bottom Table UI-->
      </div>
    </mdb-card>
  </div>