/* You can add global styles to this file, and also import other style files */
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';

@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_contacts-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_magazine-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_pricing-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_social-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_team-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_templates-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/sections-pro/_testimonials-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/addons-pro/_blog-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/addons-pro/_chat-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/addons-pro/_ecommerce-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/addons-pro/_steppers-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/addons-pro/_timeline-pro.scss';
@import '~ng-uikit-pro-standard/assets/scss/addons-pro/_timelines-pro.scss';

body {
  background-color: #eee;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$purple:  #7749B3 !default;

.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}
.login-card {
  background-color: rgba(229, 228, 255, 0.2);
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.datepickers .md-form,
.inputs .md-form {
  margin-top: 0 !important;
}

.modal-full-height.modal-bottom > .modal-content {
  position: absolute !important;
  bottom: 0;
}
.view {
  .mask {
    overflow-y: scroll;
  }
}

.navbar .breadcrumb-dn{
  width: 100% !important;
}

.md-toast{
  opacity: 1 !important;
} 

.ockanban {
  .container-fluid{
    padding: 0px !important;
  }
  .tab-content{
    padding: 0px !important;
    box-shadow: none !important;
  }
  .nav-item{
    margin-right: 3px !important;
    margin-left: 4px !important;
  }

  .white .active:hover{
    box-shadow: none !important;
  }

  .white li {
    margin-right: 6px !important;
  }
  .white li .nav-link:hover{
    background-color: #f1edf7!important;
    border-top-right-radius: 25px!important;
    border-top-left-radius: 25px!important;
  }

.nav-link.active{
    background-color: #f1edf7!important;
    border-top-right-radius: 25px!important;
    border-top-left-radius: 25px!important;
    box-shadow: none !important;
    margin: 0px !important;
    padding: 2px;
  }
  .nav-link{
      padding: 2px;
  }
}


body {
  background-color: #f8f9fa !important; 
}


.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}
.login-card {
  background-color: rgba(229, 228, 255, 0.2);
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.datepickers .md-form,
.inputs .md-form {
  margin-top: 0 !important;
}

.modal-full-height.modal-bottom > .modal-content {
  position: absolute !important;
  bottom: 0;
}
.view {
  .mask {
    overflow-y: scroll;
  }
}

.navbar .breadcrumb-dn{
  width: 100% !important;
}

.md-toast{
  opacity: 1 !important;
} 

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif,"Open Sans" !important;
   }


  //  new css

  .btn {
    text-transform: unset !important;
  }

// old css

.mg-bt-5{
  margin-bottom: 5px;
}

.mg-tp-5{
  margin-top: 5px;
}

.mg-lf-15{
margin-left: 15px;
}

.text-center{
  text-align:center;
}

.mat-tab-label {
font-family: "Helvetica Neue";
font-size: 16px;
}

.mat-ink-bar {
background-color: #7749B3 !important;
}

.mat-tab-label-active {
color: #7749B3 !important;
} 
.card-grid-body {
  /* padding: 25px; */
  /* background-color: #F7F7F7; */
}

.grid-col {
  margin-bottom: 20px;
}

.card-grid {
box-shadow: 0px 3px 6px #00000029;
}

.card-date{
  float: left;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}

.card-header-icons{
  float:right;
  color: violet;
  cursor: pointer;
}

.card-header-icons {
  color : var(--main-color);
  font-size: 16px;
  margin-left: 10px;
}
.fa-ellipsis-h {
  font-size: 20px;
}

.card-grid-header{
  background-color: white !important;
}

.card-grid-title{
font-family: "Helvetica";
font-size: 15px;
font-weight: medium;
color: #333333;
}

.card-grid-text {
font-family: "Helvetica";
font-size: 15px;
color: #333333;
}

.card-grid-main {
  text-align: center;
}

.card-grid-main-content{
margin-top: 50px;  
font-family: "Helvetica";
font-size: 13px;
color: #666666;
margin-bottom: 10px;
}

.btn-outline-warning {
  color: #FF870C;
  border-color: #FF870C;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: medium;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-outline-warning:hover {
background-color: #FF870C;
color: white;
}

.card-grid-title-status{
  color: #666666;
}

.bg-white{
  background-color: white;
}

i{
  cursor: pointer;
}

.card-grid-search{
  border-radius: 25px;
}

.card-grid-search-row{
  margin: 15px;
}

.vartical-align {
padding-top: 8px;
}

.inbox-header{
font-family: "Helvetica Neue";
font-size: 15px;
font-weight: bold;
color: #666666;
}

.search-bar,.input-group-text{
  border-radius: 25px;
}

::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.side-border {
margin-right: 25px;
border-right: 2px solid black;
}

.card-data-list{
margin-top: 10px;
margin-bottom: 10px;
font-size: 14px;
color: #666666;
}



.card-data-list-content{
position: relative;
top: -4px;
margin-left: 7px;
}

.card-btn {
font-size: 14px !important;
margin-bottom: 7px;
position: relative;
left: -20px;
border-radius: 0px 50px 50px 0px !important;
}

.btn-primary{
background-color: #FF870C !important;
border-color: none;
}

.card-icons {
font-size: 25px;
position : relative;
top : -5px;
height: 50%;
width: 50%;
/* left : -10px; */
/* margin-right: 10px; */
}
.list-group-item{
padding: 0.75rem 0 !important;
}

.card-list-data{
position: relative;
left: 10px;
font-size: 14px;
font-weight: bold;
color: #666666;


}

.card-list-team-data{
position: relative;
left: 10px;
font-size: 12px;
color: #666666;
}

.card-row{
border-bottom: 1px solid lightgray;
/* padding-bottom: 10px; */
padding-top: 10px;
}
.card-foot{
padding-top: 12px;
}

.select-menu-icon{
font-size : 25px;
color: #7749B3;
}



.pd-0{
padding: 0px !important;
}

.active-btn{
background-color: #7749B3;
color: whitesmoke;
}

.text-center{
/* text-align: center; */
padding-left: 2px !important;
padding-right: 2px !important;
/* margin: 0px !important; */
}

.card-grid-body-main{
padding : 0.15rem 1.25rem 0.01rem !important;
}

.team-users{
border-radius: 50%;
width:2.5em;
height:2.5em;
padding: 8px;
background: #F7F7F7;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;

}

.userrow{
position: relative;
left: 20px;
}

.border-complete{
border-bottom: 2px solid #4BA2F8 !important;
}

.border-done {
border-bottom: 2px solid #FFBE06 !important;
}

.border-inititate{
border-bottom: 2px solid grey !important;
}

.border-inprogress{
border-bottom: 2px solid #6FB72B !important;
}

.ngx-pagination .current,
.btn-info {
background-color: #F1EDF7 !important;
border: transparent !important;
color: #7749B3 !important;
/* border-radius: 20px !important; */
}

.mat-button.focus, .mat-button:focus {
outline: 0;
border : 0;
}

button {
outline: none !important;
}


.mat-menu-panel.filter-menu { 
  width: 300px;
  padding-left: 15px; 
  padding-right: 15px;
  overflow-x: hidden; 
  /* box-shadow: 3px 3px 3px  #888888; */

}

.mat-menu-panel.select-orch{
    max-width: 800px !important;
    position: relative;
    top: 10px;
    text-align: center;
    overflow-x: hidden;
    min-height: 100px;
    max-height: 400px;
    font-family: "Helvetica";
}
.select-orch{
    width: 800px !important;
    text-align: center;
    overflow-x: hidden;
    min-height: 100px;
    max-height: 300px;
    font-family: "Helvetica";
    /* box-shadow: 3px 3px 3px  #888888; */
}



.card-menu {
    /* box-shadow: 10px -10px 5px #888888, 10px -10px 5px #888888; */
    position: relative;
    top: -25px;
}



.mat-chip-list-wrapper {
    margin-bottom: 10px !important;
}

.angle-right-btn {
    background-color: white;
    position: relative;
    left: 3px;
    border-radius: 5px;
    color: #7749B3;
}

.form-control:focus {
    box-shadow: 0 0 5px #7749B3 !important;
} 

.mg-bt-10{
margin-bottom: 10px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
background-color: #7749B3;
}

.btn-white{
border-color: grey !important;
}

.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
background-color: purple !important; 
}

.bs-datepicker-body table td.week span 
{
color: purple !important; 
}

.menu-head{
border-bottom: 1px solid lightgrey;
padding-bottom: 5px;
font-weight: medium;
color: #7749B3;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
background-color:#7749B3;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
background-color: #7749B3;
}

.icon-col{
position: relative; top: -5px;
}
