<div class="container pt-4">
  <mdb-card cascade="true" narrower="true">
    <!--Card image-->
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <a class="white-text mx-3">Orchestrations</a>

      <div>
        <button type="button" mdbBtn outline="true" color="white" rounded="false" size="sm" class="px-2"
          (click)="addOrchestrations(addOcData)">
          <mdb-icon fas icon="plus" class="mt-0 mr-1"></mdb-icon>
          Add Orchestrations
        </button>
      </div>
    </div>
    <!--/Card image-->
    <div class="px-4">
      <div class="table-wrapper">

        <table mdbTable #tableEl="mdbTable" class="table table-hover mb-0">

          <thead>
            <tr>
              <th class="th-lg">
                #
              </th>
              <th class="th-lg">
                <a (click)="sortBy('orchestrationName')">Name
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a (click)="sortBy('kanbanType')">Kanban Type
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th class="th-lg">
                <a>Action</a>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let el of canvasList; let i = index">
              <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
                {{i+1}}</th>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.orchestrationName}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.kanbanType}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">

                <button class="mr-2 mb-1" mdbBtn (click)="addOrchestrations(el)" color="primary" rounded="true"
                  size="sm" mdbWavesEffect mdbTooltip="Edit">
                  <mdb-icon fas icon="edit" aria-hidden="true"></mdb-icon> 
                </button>

                <button class="mr-2 mb-1" mdbBtn (click)="addStageAndCard(el)" color="success" rounded="true"
                  size="sm" mdbWavesEffect mdbTooltip="Edit Stage & Card">
                  <mdb-icon fas icon="align-justify" aria-hidden="true"></mdb-icon>
                </button>

                <button class="mr-2 mb-1" mdbBtn (click)="deleteOrchestration(el)" color="danger" rounded="true" size="sm"
                  mdbWavesEffect mdbTooltip="Delete">
                  <mdb-icon fas icon="trash" aria-hidden="true"></mdb-icon> 
                </button>

              </td>
            </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">
            <tr>
              <td colspan="4">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="canvasList"></mdb-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>



        <!--Table-->

      </div>
    </div>
  </mdb-card>
</div>